[submodule "Third-party/Libs/imgui"]
	path = Third-party/Libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "Third-party/Libs/SDL"]
	path = Third-party/Libs/SDL
	url = https://github.com/libsdl-org/SDL
    branch = SDL2
