[submodule "Third-party/Libs/imgui"]
    path = Third-party/Libs/imgui
    url = https://github.com/ocornut/imgui
[submodule "Third-party/Libs/SDL"]
    path = Third-party/Libs/SDL
    url = https://github.com/libsdl-org/SDL
    branch = SDL2
[submodule "Third-party/Libs/openal-soft"]
    path = Third-party/Libs/openal-soft
    url = https://github.com/kcat/openal-soft
